<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="site-header" th:replace="~{fragments/header :: header}"></header>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Username</th>
                <th scope="col">Office Name</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}" th:scope="row">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getOffice().getName()}"></td>
                <td>
                    <a th:href="@{/users/update(user=${user.getId()})}">Edit</a>
                    <a th:href="@{/users/delete(user=${user.getId()})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <footer class="site-footer" th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>