<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../../static/css/footer.css">
    <link rel="stylesheet" th:href="@{/css/nav.css}" href="../../static/css/nav.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../../static/css/login.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" href="../../static/css/typography.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/typography.css}" href="../../static/css/reset.css" />

    <script src="https://kit.fontawesome.com/6592283e01.js" crossorigin="anonymous"></script>

    <title>Login</title>
</head>
<body>
    <header class="site-header" th:replace="~{fragments/header :: header}"></header>
    <div class="form-wrapper">
        <div class="form-header">
            <div class="img-wrapper">
                <img th:src="@{/images/logo.png}" alt="logo" />
            </div>
            <h3 class="company-name">Logistic Company</h3>
        </div>
        <form class="form" th:action="@{/login}" th:object="${dto}" method="post">
            <h2>Вход</h2>

            <div class="inputs">
                <div class="input-wrapper">
                    <input type="text" class="form-control" aria-label="" id="username-text" th:value="${dto.getUsername()}"
                    th:field="*{username}" required />
                    <label for="username-text" class="input-group-text">Потребителско име</label>
                    <div class="invalid-feedback">
                        <i class="fa-solid fa-circle-info"></i> 
                        <span class="bubble-error"></span> 
                    </div>
                </div>
    
                <div class="input-wrapper">
                    <input type="password" class="form-control" id="inputPassword1" th:field="*{password}" required />
                    <label for="inputPassword1" class="form-label">Парола</label>
                    <div class="invalid-feedback">
                        <i class="fa-solid fa-circle-info"></i> 
                        <span class="bubble-error"></span> 
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-submit">Вход</button>
            <div class="form-footer">
                <p>Нямате акаунт? <a th:href="@{/register}" >Регистрация</a></p>
            </div>
        </form>
    </div>

    <footer class="site-footer" th:replace="~{fragments/footer :: footer}"></footer>
    <script th:src="@{/js/inputValidation.js}"></script>
</body>
</html>