<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<header class="site-header" th:replace="~{fragments/header :: header}"></header>

<div class="container-sm col-3">
    <form th:action="@{/users}" th:object="${dto}"  method="post" >
        <input type="hidden" th:field="*{id}" th:value="${dto.id}">
        <div class="mb-3">
            <label for="sourceDatalist" class="form-label">Office</label>
            <input class="form-control" list="sourceDatalistOptions"
                   id="sourceDatalist" placeholder="Choose office" th:value="${dto.getOffice()}" th:field="*{office}">
            <datalist id="sourceDatalistOptions">
                <option  th:each="office: ${offices}" th:value="${office.getName()}" >
            </datalist>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Username</span>
            <input type="text" class="form-control" aria-label="" id="username-text" th:value="${dto.getUsername()}" th:field="*{username}">
        </div>



        <div class="mb-3">
            <select class="form-select" aria-label="Status" id="status-select" th:field="*{role}">
                <option th:value="${dto.getRole()}" th:text="${dto.getRole()}"></option>

                <option th:if="${dto.getRole() != 'employee'}" value="employee">employee</option>
                <option th:if="${dto.getRole() != 'client'}" value="client">client</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword1" th:field="*{password}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>