<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Source</th>
    <th scope="col">Sender Address</th>
    <th scope="col">Destination</th>
    <th scope="col">Recipient Address</th>
    <th scope="col">Sender</th>
    <th scope="col">Recipient</th>
    <th scope="col">Employee</th>
    <th scope="col">SendAt</th>
    <th scope="col">ReceivedAt</th>
    <th scope="col">Status</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="package: ${packages}" th:scope="row">
    <td th:text="${package.getId()}"></td>
    <td th:text="${package.getSource().getName()}"></td>
    <td th:text="${package.getSenderAddress()}"></td>
    <td th:text="${package.getDestination().getName()}"></td>
    <td th:text="${package.getRecipientAddress()}"></td>
    <td th:text="${package.getSender().getUsername()}"></td>
    <td th:text="${package.getRecipient().getUsername()}"></td>
    <td th:text="${package.getEmployee().getUsername()}"></td>
    <td th:text="${package.getSendAt()}"></td>
    <td th:text="${package.getReceivedAt()}"></td>
    <td th:text="${package.getStatus()}"></td>
    <td th:text="${package.getPrice()}"></td>




  </tr>
  </tbody>
</table>
</body>
</html>