<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../../static/css/footer.css">
    <link rel="stylesheet" th:href="@{/css/nav.css}" href="../../static/css/nav.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../../static/css/login.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" href="../../static/css/typography.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/typography.css}" href="../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/updatePackage.css}" href="../../static/css/updatePackage.css" />


    <title>Title</title>
</head>

<body>
    <header class="site-header" th:replace="~{fragments/header :: header}"></header>
    <div class="container-sm col-3">
        <form th:action="@{/package}" th:object="${dto}" method="post">
            <input type="hidden" th:field="*{id}" th:value="${dto.id}">

            <h3>Информация за Подател</h3>
            <div class="inputs">
                <div class="input-wrapper">
                    <input type="text" id="senderName" th:field="*{senderName}" class="form-control" required >
                    <label for="senderName" class="input-group-text">Име</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="senderAddress" th:field="*{senderAddress}" class="form-control" required >
                    <label for="senderAddress" class="input-group-text">Адрес</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="senderPhone" th:field="*{senderPhone}" class="form-control" required >
                    <label for="senderPhone" class="input-group-text">Телефон</label>
                </div>
                <div class="input-wrapper">
                    <input type="email" id="senderEmail" th:field="*{senderEmail}" class="form-control" required >
                    <label for="senderEmail" class="input-group-text">Имейл</label>
                </div>
                <div class="input-wrapper">
                    <textarea id="senderNote" th:field="*{senderNote}" class="form-control"></textarea>
                    <label for="senderNote" class="input-group-text">Уточнение</label>
                </div>
            </div>

            <h3>Информация за Получател</h3>
            <div class="inputs">
                <div class="input-wrapper">
                    <input type="text" id="recipientName" th:field="*{recipientName}" class="form-control" required>
                    <label for="recipientName" class="input-group-text">Име</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="recipientAddress" th:field="*{recipientAddress}" class="form-control" required>
                    <label for="recipientAddress" class="input-group-text">Адрес</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="recipientPhone" th:field="*{recipientPhone}" class="form-control" required>
                    <label for="recipientPhone" class="input-group-text">Телефон</label>
                </div>
                <div class="input-wrapper">
                    <input type="email" id="recipientEmail" th:field="*{recipientEmail}" class="form-control" required>
                    <label for="recipientEmail" class="input-group-text">Имейл</label>
                </div>
            </div>

            <h3>Параметри на Пратката</h3>
            <div class="inputs">
                <div class="input-wrapper">
                    <select id="employee" th:field="*{employee}" class="form-control">
                        <option th:each="employee : ${employees}" th:value="${employee.getUsername()}" th:text="${employee.getUsername()}"></option>
                    </select>
                    <label for="employee" class="input-group-text">Служител</label>
                </div>
                <div class="input-wrapper">
                    <input type="number" id="price" th:field="*{price}" min="0" class="form-control" required>
                    <label for="price" class="input-group-text">Стойност на стоката</label>
                </div>
               
            </div>

            <div class="form-actions">
                <button type="reset" class="btn btn-clear">Изчисти</button>
                <button type="submit" class="btn btn-save">Запази</button>
                <button type="button" class="btn btn-calculate">Изчисли</button>
                <button type="button" class="btn btn-complete">Приключи</button>
            </div>
        </form>
    </div>

    <footer class="site-footer" th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>