.site-header {
    width: 80%;
    margin: 1em auto;
}

.site-header .navbar{
    background: #52489C;
    color: #020202;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header .navbar .logo-wrapper{
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.site-header .navbar .logo-wrapper img{
    width: 50px;
}

.navbar .menu-items-wrapper .menu-items,
.navbar .auth-items-wrapper .auth-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;

    list-style-type: none;
}

.navbar .menu-items-wrapper .menu-items a,
.navbar .auth-items-wrapper .auth-items a,
.navbar .auth-items-wrapper .auth-items .btn-exit{
    position: relative;
    color: #F1F7ED;
    font-weight: bold;
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em;
}

.navbar .menu-items-wrapper .menu-items a::after,
.navbar .auth-items-wrapper .auth-items a::after,
.navbar .auth-items-wrapper .auth-items .btn-exit::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #F1F7ED;
    bottom: 0.3em;
    left: 0;
    transition: 0.5s;
}

.navbar .menu-items-wrapper .menu-items a:hover::after,
.navbar .auth-items-wrapper .auth-items a:hover::after,
.navbar .auth-items-wrapper .auth-items .btn-exit:hover::after{
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    left: 50%;
    margin-top: 2.5em;
    padding: 0.5em;
    list-style-type: none;
    width: 160px; /* w-40 */
    height: 200px;
    background-color: #52489C;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
    border-radius: 6px; /* rounded-md */
    display: none; /* Hide by default */
}

.dropdown-button{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #F1F7ED;
    font-weight: bold;
}

.dropdown-menu.show {
    display: block; /* Show when active */
}


  
  