<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../../static/css/footer.css">
    <link rel="stylesheet" th:href="@{/css/nav.css}" href="../../static/css/nav.css">
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="../../static/css/reset.css">
    <link rel="stylesheet" th:href="@{/css/typography.css}" href="../../static/css/typography.css">

    <title>Title</title>
</head>

<body>
    <header class="site-header" th:replace="~{fragments/header :: header}"></header>
    <main class="main">
        <h1>Офиси</h1>

        <ul class="office-list">
            <li class="card" th:each="office : ${offices}" >
                <div class="image-wrapper">
                    <img th:src="@{/images/offices/News_image_id_1286.jpg}" alt="">
                </div>
                <div class="office-info">
                    <h2 th:text="${office.getName()}"></h2>
                    <p th:text="${office.getAddress()}"></p>
                    <p th:text="${office.getCity()}"></p>
                    <p th:text="${office.getWorkingHours()}"></p>
                </div>
            </li>
        </ul>
    </main>

    <footer class="site-footer" th:replace="~{fragments/footer :: footer}"></footer>

    <script th:src="@{/js/getOffices.js}"></script>
</body>

</html>