<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../../static/css/footer.css">

    <title>Title</title>
</head>

<body>
    <header class="site-header" th:replace="~{fragments/header :: header}"></header>
    
    <main class="main">
        <h1>Офиси</h1>

        <ul class="office-list">
            
        </ul>
    </main>

    <footer class="site-footer" th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>