<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-info">
                <h3>ПроТранс България</h3>
                <p>Ние сме надеждна транспортна компания в България, предлагаща бързи, сигурни и ефективни решения за
                    превоз
                    на товари и пътници. С модерен автопарк и екип от професионалисти, гарантираме високо качество на
                    услугите и
                    навременни доставки. Доверете се на нас за безопасен и удобен транспорт!
                </p>
            </div>
            <div class="footer-links">
                <h3>Полезни линкове</h3>
                <ul>
                    <li><a href="">Услуги</a></li>
                    <li><a href="">Офиси и автомати</a></li>
                    <li><a href="">За нас</a></li>
                    <li><a href="">Контакти</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Контакти</h3>
                <p>Адрес: гр. София, ул. "Цар Самуил" 15</p>
                <p>Телефон: 0888 888 888</p>
                <p>Имейл:
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2025 ПроТранс България. Всички права запазени.</p>
        </div>
    </footer>
</body>

</html>